{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template qbehaviour_studentfeedbackdeferred/studentfeedback

    Classes required for JS:
    * feedback-area
    * submit-feedback
    * cancel-feedback
    * edit-feedback
    * populated

    Data attributes required for JS:
    * data-value

    Context variables required for this template:
    * divid ID of enclosing student feedback div.
    * value Current student feedback.
    * ownattempt Whether this is the current user's attempt or not - if false, it is likely to be an attempt review.
    * general Whether this is the general quiz feedback or by-question feedback.

    Example context (json):
    {
        "divid": "q1_studentfeedback",
        "value": "",
        "ownattempt": false,
        "general": false
    }
}}
<div id="{{divid}}" class="student-feedback">
	<div>
	{{# general}}
	{{# ownattempt}}{{# str}} yourgeneralfeedback, qbehaviour_studentfeedbackdeferred {{/ str}}{{/ ownattempt}}
    {{^ ownattempt}}{{# str}} studentsgeneralfeedback, qbehaviour_studentfeedbackdeferred {{/ str}}{{/ ownattempt}}
    {{/ general }}
	{{^ general}}
	{{# ownattempt}}{{# str}} yourfeedback, qbehaviour_studentfeedbackdeferred {{/ str}}{{/ ownattempt}}
    {{^ ownattempt}}{{# str}} studentsfeedback, qbehaviour_studentfeedbackdeferred {{/ str}}{{/ ownattempt}}
    {{/ general }}
    </div>
    <textarea class="form-control feedback-area {{# value}} populated {{/ value}}" disabled="disabled" data-value="{{value}}">{{value}}</textarea>
    {{# ownattempt}}
    <div class="buttons-feedback">
        <div class="btn btn-primary submit-feedback" style="display: none;">{{# str}} submit {{/ str}}</div>
        <div class="btn btn-secondary cancel-feedback" style="display: none;">{{# str}} cancel {{/ str}}</div>
    </div>
    <div class="btn btn-link edit-feedback" style="display: none;">{{# str}} edit {{/ str}}</div>
    {{/ ownattempt}}
</div>